<h3>
  CREATE NEW TIMECARD
  </h3>
  <p>
    Start Date
    </p>
  <div><label></label><input [(ngModel)]="search.projectname" placeholder="Monday,October 10,2017" size="90" style="height:15px;">
    <p>
        PROJECT NAME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ACTIVITY&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SUN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MON&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TUE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; WED&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; THR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FRY&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SAT
        </p>
        <div>
          <label></label><input [(ngModel)]="search.projectname"size="10" style="height:15px;">
          <label></label><input [(ngModel)]="search.projectname"size="8" style="height:15px;">
          <label></label><input [(ngModel)]="search.projectname"size="1" style="height:15px;">
          <label></label><input [(ngModel)]="search.projectname"size="1" style="height:15px;">
          <label></label><input [(ngModel)]="search.projectname"size="1" style="height:15px;">
          <label></label><input [(ngModel)]="search.projectname"size="1" style="height:15px;">
          <label></label><input [(ngModel)]="search.projectname"size="1" style="height:15px;">
          <label></label><input [(ngModel)]="search.projectname"size="1" style="height:15px;">